{% extends "base.html" %}

{% block jumbotron %}
    <div class="jumbotron">
        <div class="container">
            <h1>This is Us!</h1>

            <p>This is a template for a simple marketing or informational website. It includes a large callout called a
                jumbotron and three supporting pieces of content. Use it as a starting point to create something more
                unique.</p>

            <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a></p>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="col-lg-12">
    <h1>Something about Us:</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi tincidunt eros quis scelerisque viverra. Maecenas tempor, dolor eget fermentum lobortis, lorem arcu pellentesque dolor, ut efficitur dui magna id odio. Mauris eu pellentesque libero, non vestibulum lorem. Curabitur pretium vel nisi id ultricies. Nullam viverra id nisi auctor laoreet. Proin laoreet commodo tincidunt. Integer bibendum efficitur dui eget euismod. Nunc ex ante, scelerisque ac ante ut, pretium ornare est. Nunc id sapien molestie turpis venenatis efficitur condimentum in felis. Vivamus lacinia nulla nec faucibus tristique. Duis id felis sed velit blandit molestie. Etiam nec scelerisque leo, sit amet dapibus nisi. In venenatis consequat mollis. Donec interdum, nisl in feugiat placerat, sapien risus commodo felis, vitae semper nisl nisi sed eros. Sed non nisl dapibus, varius felis vitae, vulputate sem
    </p>
    </div>

{% endblock %}